* {
	margin: 0;
	box-sizing: border-box;
}

/* Navbar styles */

#mainNavbar {
	height: 60px;
	font-size: 0.9rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#mainNavbar ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	padding: 0.1rem;
}

#mainNavbar a {
	text-decoration: none;
	color: #464646;
	padding: 0.7rem;
}

#mainNavbar a:hover,
#mainNavbar a:focus {
	text-decoration: underline;
}

#mainNavbar button {
	background-color: #3674e7;
	color: #fff;
	font-size: 0.9rem;
	border: none;
	border-radius: 3px;
	padding: 0.6rem 2rem;
}

#mainNavbar button:hover,
#mainNavbar button:focus {
	background-color: #497fe2;
	cursor: pointer;
}

/* Main styles */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 0 auto;
}
